.splash {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(circle at center,rgba(160, 90, 255, 0.35) 0%,rgba(80, 40, 120, 0.25) 25%, rgba(30, 15, 45, 0.9) 60%, #0d0b14 100%);
    transform: scale(0.98);
    transition: all 1s ease;
}

.splash.show {
    opacity: 1;
    transform: scale(1);
}

.splash.hide {
    opacity: 0;
    transform: scale(0.97);
}

.logoSplash{
    pointer-events: none;
}